body {
    background-color: #1d1d1d;
}

.box {
    width: 200px;
    height: 100px;
}

.image2 {
    margin-top: 50px;
}

.image1 {
    margin-left: 50px;
    margin-top: 50px;
    background-color: #b3b3b3;
}

p {
    color: white;
    margin-top: 90px;
}

.image1:hover {
    background-color: #6666ff;
    width: 30px;
    color: #6666ff;
}

.icons {
    width: 40px;
    background-color: #555;
    margin-top: 20px;
    margin-left: 1200px;
    position: fixed;
}

.icons a {
    text-align: center;
    padding-bottom: 5px;
    margin-left: 10px;
    transition: all 0.2s ease;
    color: #b3b3b3;
    font-size: 20px;
}

.icons a:hover {
    color: #FFFFFF;
}

.active {
    background-color: #b3b3b3;
}

footer {
    color: white;
    margin-top: 100px;
    position: fixed;
    background-color: maroon;
}

.about-show-dropdown {
    font-size: 1rem;
    color: #FFFFFF;
    padding-bottom: 40px;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 70px;
}

.arrow span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.scroll-to-bullets {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    max-height: 100vh;
    overflow: hidden;
    position: fixed;
    box-sizing: border-box;
    background-color: white;
    margin-left: 20px;
}

.scroll-to-bullets a.active {
    border-color: black;
    opacity: 1;
    background-color: green;
}

.scroll-to-bullets a {
    display: block;
    margin: 10px 15px;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    transition: all .3s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)
}

a {
    touch-action: manipulation;
    text-decoration: none;
}

h2 {
    margin-left: 100px;
}

.box1 {
    width: 100%;
    height: 100%;
    color: white;
}

span {
    font-size: 3.5rem;
    color: white;
    margin-left: 250px;
}

h1 {
    color: white;
    margin-top: 100px;
}

.v1 {
    border-left: 1px solid white;
    height: 70px;
    position: absolute;
    left: 545px;
    margin-top: 130px;
    top: 0;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

.left-col {
    border-right: 3px solid #CCC;
}

.left-col {
    float: left;
    font-size: 3rem;
    color: white;
    height: 200px;
    margin: 2% 0;
    padding: 5px 16px 0 0;
    margin-left: 300px;
    margin-top: 100px;
}

.right-col {
    margin-right: 250px;
    margin-left: 100px;
    font-size: 1.5rem;
}

h2 {
    margin-top: 100px;
    color: white;
}

h3 {
    color: white;
}

.box2 {
    text-align: center;
    text-justify: inter-word;
    column-span: 1;
    background-color: #37404f;
}

.tabs {
    width: 1370px;
    height: 640px;
}

.about {
    padding-top: 200px;
}

.images {
    background-color: #f5f3f5;
    padding: 5px;
    border-style: solid;
}

h5 {
    letter-spacing: 0.1em;
    text-align: center;
}

address {
    color: white;
    -webkit-column-count: 2;
    /* Old Chrome, Safari and Opera */
    -moz-column-count: 2;
    /* Old Firefox */
    column-count: 2;
    -webkit-column-gap: 40px;
    -webkit-column-span: all;
    /* Chrome, Safari, Opera */
    margin-left: 400px;
    margin-right: 400px;
}

a:link {
    color: #b3b3b3;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}